<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <add key="AzureAccountKey" value="KIQgT7tZ2plO8HzlrBtfnPYVpRGO1xLU94XA1SUW216fUgl10wMoEoVKqzc2P1e8tB1anhMFAjDppZw4TaSRkQ==" />
    <add key="AzureAccountName" value="kenfau" />
    <add key="SignatureSize" value="50000" />
    <!-- Slowly being phased out, I hope. -->
  </appSettings>
</configuration>